.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-vertical-container {
    height:100vh;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-column {
    -webkit-flex: 1;
    flex: 1;
}
